<!-- http://127.0.0.1:5000/booking -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Booking Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
  <body>
    <header>
      <h1>Booking Page</h1>
    </header>
    <main>
      <section>
        <h2>Welcome to the Booking Page</h2>
        <p>This is the booking page of the website.</p>
      </section>

      <section>
        <h2>Other pages</h2>
        <button onclick="window.location.href='/home';">Home</button>
      </section>

    </main>
  </body>
</html>
