<!-- http://127.0.0.1:5000/ -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
  <body>
    <header>
      <h1>Home Page</h1>
    </header>
    <main>
      <section>
        <h2>Welcome to the Home Page</h2>
        <p>This is the home page of the website.</p>
      </section>

      <section>
        <h2>Login</h2>
        <button onclick="window.location.href='/login';">Login</button>
        <button onclick="window.location.href='/signup';">Signup</button>
      </section>

      <section>
        <h2>Other pages</h2>
        <button onclick="window.location.href='/booking';">Booking</button>
      </section>

      <section>
        <h2>Testing, Delete later</h2>
        <button onclick="window.location.href='/staffhome';">Staff Home</button>
      </section>

    </main>
  </body>
</html>
