<!-- http://127.0.0.1:5000/staff/rental -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Staff Rental</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
  <body>
    <header>
      <h1>Staff Rental</h1>
    </header>
    <main>
      <section>
        <h2>Welcome to the Staff Rental Page</h2>
        <p>This is the staff rental page of the website.</p>
      </section>

      <section>
        <h2>Other pages</h2>
        <button onclick="window.location.href='/staffhome';">Staff Home</button>
        <button onclick="window.location.href='/staff/reports';">Staff Reports</button>
      </section>

      <section> 
        <h2>Get car detail on reg</h2>
        <input type="text" id="carReg" placeholder="Enter Car Reg"><span>  eg: JA82VXV</span><br>
        <button onclick="getCarByReg();">Get Car Details</button><br><br>
        <table id="carDetailsTable" border="1"></table>
        
        <!-- get car to table script -->
        <script>
        // Fetching a JSON file and displaying it as a table script  <table id="demoTable" border="1"></table>

          // get car to table script
          async function getCarByReg() {
            const reg = document.getElementById("carReg").value;
            const resultBox = document.getElementById("carDetailsTable");

            try {
                const response = await fetch(`http://127.0.0.1:5000/vehicles/${reg}`);
                const data = await response.json();

                if (!response.ok) {
                    resultBox.textContent = `Error: ${data.error}`;
                    return;
                }

                displayTable(data);  //not [data] because data is an object and not an array so have to take first item.
            } catch (err) {
                resultBox.textContent = `Request failed: ${err}`;
            }
        }

        // Function to display table
        function displayTable(data) {
          let vehiculeData = data[0];  // data is an object and not an array so have to take first item.
          let html = "<tr><th>Field</th><th>Value</th></tr>";
          for (let key in vehiculeData) {
            html += `<tr><td>${key}</td><td>${vehiculeData[key]}</td></tr>`;
          }
          document.getElementById("carDetailsTable").innerHTML = html;
        }
        </script>
      </section>

  </body>
</html>