{% extends "base.html" %}

{% block title %}Our Vehicles{% endblock %}

{% block content %}
    <h1>Vehicle List</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID / VRM</th>
                <th>Make / Model</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicle_list %}
            <tr>
                <td>{{ vehicle.vrm }}</td>
                <td>{{ vehicle.make }}</td>
                <td>{{ vehicle.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}